# URL base del backend
# Android emulator: http://10.0.2.2:3000/api/v1
# iOS simulator:    http://localhost:3000/api/v1
# Dispositivo físico en red local: http://<IP_DE_TU_PC>:3000/api/v1
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000/api/v1
